<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>851141014710-qco7dbsn3oqtcvhgllj0862i461a2na1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.851141014710-qco7dbsn3oqtcvhgllj0862i461a2na1</string>
	<key>API_KEY</key>
	<string>AIzaSyBtMH_tC_2c1mC_rdjJEq7coL4nGwfy5Jw</string>
	<key>GCM_SENDER_ID</key>
	<string>851141014710</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-dawid</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-dawid.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:851141014710:ios:26b4af8ddebaf171caa217</string>
</dict>
</plist>